<nav class="navbar navbar-expand-lg navbar-light " style="background-color: white;">
    <div class="p-2">
        <button class="btn btn-light" (click)="toogleSidebar($event)" style="background-color: white;">
            <img src="./assets/svg/sidebar/menu-fold.svg" alt="<">
        </button>
    </div>
    <div class="ml-auto p-2">
        <button class="btn-notice">
            <img class="ring" src="./assets/svg/sidebar/ring.svg">

            <div class="notice" style="background: #00CCD6; width: 15px; height: 15px; "></div>
        </button>
        <div class="btn-group" ngbDropdown role="group">
            <img class="person" src="./assets/svg/sidebar/person.svg" alt="">
            <button class="btn " ngbDropdownToggle> {{getUser()}} </button>
            <div class="dropdown-menu" ngbDropdownMenu>
                <button ngbDropdownItem (click)="openModalEditUser()"><img id="img-dropdown-item"
                        src="./assets/icon/outlined/application/admin.svg">
                    My profile</button>
                <button ngbDropdownItem (click)="openModalChange()"><img id="img-dropdown-item" src="./assets/icon/outlined/application/setting.svg"
                        alt="">Change</button>
                <!-- <button ngbDropdownItem><img id="img-dropdown-item" src="./assets/icon/outlined/suggested/help.svg"
                            alt="">Help</button> -->
                <button ngbDropdownItem (click)="onLogout()"><img id="img-dropdown-item"
                        src="./assets/icon/outlined/application/log-out.svg" alt="">Log Out</button>
            </div>
        </div>
    </div>
</nav>
<ng-template #modalEditUser let-modal1>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Update my profile</h4>
        <button id="btnCloseModalEdit" type="button" class="close" aria-label="Close" (click)="modal1.dismiss('close')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div style="border: solid 1px #E8E8E8;border-radius: 6px;">
                <form #formCreate="ngForm">
                    <table class="table form-group">
                        <tbody>
                            <tr>
                                <th scope="row" class="text-primary" style="width: 200px;"> Id</th>
                                <td>
                                    <input class="form-control" ngModel name="id">
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-primary" style="width: 200px;">Name</th>
                                <td>
                                    <input class="form-control" ngModel name="name">
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-primary" style="width: 200px;"> Address</th>
                                <td>
                                    <input class="form-control" ngModel name="address">
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-primary">Email</th>
                                <td>
                                    <input class="form-control" ngModel name="email">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="mr-auto">
            <button type="button" class="btn btn-sm btn-secondary"
                (click)="onCreateUpdate(formCreate)">Save</button>
        </div>
        <div>
            <button type="button" class="btn btn-sm btn-secondary" (click)=" modal1.dismiss('close')">
                Cancel
            </button>
        </div>
    </div>
</ng-template>
<ng-template #modalChange let-modal1>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Change password</h4>
        <button id="btnCloseModalEdit" type="button" class="close" aria-label="Close" (click)="modal1.dismiss('close')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div style="border: solid 1px #E8E8E8;border-radius: 6px;">
                <form #formCreate="ngForm">
                    <div class="form-group">
                        <div>
                            <label for="">username :</label>
                            <b class="text-muted"> {{getUser()}}</b>
                        </div>
                        <div>
                            <label for="">oldPassword</label>
                            <input class="form-control" ngModel name="oldPassword">
                        </div>
                        <div>
                            <label for="">newPassword</label>
                            <input class="form-control" ngModel name="newPassword">
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <div class="mr-auto">
                        <button type="button" class="btn btn-sm btn-secondary"
                            (click)="onCreateChange(formCreate)">Save</button>
                    </div>
                    <div>
                        <button type="button" class="btn btn-sm btn-secondary" (click)=" modal1.dismiss('close')">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
    </div>
</ng-template>