#bg-login {
    position: fixed;
    width: 100%;
}

span.req {
    color: red;
}

input.btn.btn-lg.btn-success.btn-block {
    width: 80%;
    margin: 5% 10%;
    background: #00CCD6;
    border-radius: 8px;
}
.card{
    height: auto !important;
    margin: 0 !important;
}
.card-header {
    background: #FFFFFF;
    border-bottom: none;
}
.card-body{
    margin-top: 30px !important;
}

form.login.ng-untouched.ng-pristine.ng-valid {
    background-color: #ffff;
    min-height: 25em;
    min-width: 25em;
}