<div class="card">
  <div class="card-header d-flex justify-content-between">
    <h4 class="card-title"> Staff Management</h4>
    <button class="btn btn-success" (click)="openModalAddEdit()">
      <fa-icon [icon]="['fas','plus']"></fa-icon>
    </button>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead class=" text-primary">
          <td>
            ID
          </td>
          <th>
            Name
          </th>
          <th>
            Address
          </th>
          <th>
            Email
          </th>
          <th>
            Role
          </th>
          <th class="text-center">
            Action
          </th>
        </thead>
        <tbody>
          <tr *ngFor="let item of staffs;let $index = index">
            <td>
              {{item.staffId}}
            </td>
            <td>
              {{item.name}}
            </td>
            <td>
              {{item.position}}
            </td>
            <td>
              {{item.email}}
            </td>
            <td>
              {{item.role === 1 ? 'STAFF' : 'QA'}}
            </td>
            <td class="text-center">
              <button class="btn btn-primary me-2" (click)="openModalAddEdit($index,item)">
                <fa-icon [icon]="['fas','edit']"></fa-icon>
              </button>
              <button class="btn btn-danger" (click)="deleteStaff(item.staffId,$index)">
                <fa-icon [icon]="['fas','trash']"></fa-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>