td{
  .edit{
      color: black;
      &:hover{
          color: #51cbce;
      }
  }
  &.description{
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: 400;
  }
}