<div class="card">
  <div class="card-header d-flex justify-content-between">
    <h4 class="card-title"> Categories Management</h4>
    <button class="btn btn-success" (click)="openModalAddEdit()">
      <fa-icon [icon]="['fas','plus']"></fa-icon>
    </button>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead class=" text-primary">
          <th>
            ID
          </th>
          <th>
            Name
          </th>
          <th>
            Status
          </th>
          <th class="text-right">
            Create At
          </th>
          <th class="text-center">
            Action
          </th>
        </thead>
        <tbody>
          <tr *ngFor="let item of categories$ | async; let $index = index">
            <td>
              {{item.id}}
            </td>
            <td>
              {{item.name}}
            </td>
            <td>
              {{item.active ? 'Used' : 'not used'}}
            </td>
            <td>
              {{item.createdDate | date:'medium'}}
            </td>
            <td class="text-center">
              <button class="btn btn-primary me-2" (click)="openModalAddEdit($index,item)">
                <fa-icon [icon]="['fas','edit']"></fa-icon>
              </button>
              <button class="btn btn-danger" (click)="deleteCategory(item.id,$index)" [disabled]="item.active">
                <fa-icon [icon]="['fas','trash']"></fa-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>