<div class="row">
  <div class="col-8">
    <div class="card w-100" style="width: 18rem;" *ngFor="let item of comments">
      <div class="card-body">
        <p class="card-text text-wrap">{{item}}</p>
      </div>
    </div>
    <div class="w-50 d-flex justify-content-center" *ngIf="total !== 0 && comments.length < total">
      <button class="btn btn-primary" (click)="loadMore()">Load More</button>
    </div>
  </div>
  <div class="col-3 position-fixed end-0">
    <div class="w-100">
      <spending-idea-item [idea]="idea" [attachFile]="ideaDetail.url"></spending-idea-item>
    </div>
    <div class="card w-100" style="width: 18rem;">
      <div class="card-body">
        <textarea name="comment" id="commnet" class="w-100 text-form" rows="5" [(ngModel)]="commentText"></textarea>
        <button class="btn btn-primary btn-sm" (click)="postComment()" spendingSpinButton
          [loading]="loading">Comment</button>
      </div>
    </div>
  </div>
</div>